<div class = 'homePage'>
     <h1>Hello Xello Team..</h1>
     <h2>This is Angular application with single page or view.</h2>
     <h2>This Angular application is created using Angular CLI boiler plate.</h2>
     <h2>This application is built with simple routing into other components and is styled with Scss BEM.</h2>
     <h2>The two buttons are placed in the contact component, where all the given conditions for the tooltip has been completed.</h2>
     <h2>This application can be run with the single npm command.</h2>
     <h2>I've used high contrast colours in application, which is one good Accessibility feature i've used.</h2>
  </div>
