.contact-container{
    background-image: url(https://source.unsplash.com/K2tdx2mFDHc/1600x900);
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: #f5f5f5;
        font-family: Helvetica, sans-serif;
    }
}